server: 
  port: 8090
  error:
    include-binding-errors: always
    include-message: always
    include-stacktrace: never
    
spring:
 datasource:
  url: jdbc:postgresql://localhost:5432/rentacar_db
  username: rentacar
  password: 1234
  driver-class-name: org.postgresql.Driver
 jpa:
  hibernate: 
   ddl-auto: update
  show-sql: true
  database-platform: org.hibernate.dialect.PostgreSQLDialect
  properties:
   '[hibernate.format_sql]': true
      
info:
  application:
    name: 'Rentacar Backend App'
    description: 'This is Rentacar Backend  Project'
    version: '@project.version@'   

logging:
 file:
  name: log/rentacar.log
 pattern:
  file: "%d %-5level [%thread] %logger:%msg%n"
 level:
  '[org.springframework.web]' : WARN
  '[org.hibernate]' : INFO
  '[org.rentacar]' : DEBUG

rentacar:
  app:
    jwtSecret: rentACar@!23
    jwtExpirationMs: 86400000

management: #actuator
  endpoints:
    web:
      exposure:
        include: '*'
  info:
    env:
      enabled: true
  endpoint:
    health:
      show-details: always
    shutdown:
      enabled: true 
